body {
  background-color: tan;
  display: flex;
  flex-flow: column;
}
#background, #footer {
  background-color: lavender;
  height: 93vh;
  width: 800px;
  text-align: center;
  border: 1px solid red;
  }
#background {
  display: flex;
  flex-direction: column;
}

#Month_year{
  font-size: xx-large;
  
}

#date_boxes{
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  
}
.Day{
  border: 1px solid red;
  width: 100px;
  height: 100px;
}
#footer{
  height: 2%;
  font-size: xx-small;
  
}
