body {
  background-color: tan;
  display: flex;
  flex-flow: column;
  font-family: FreeMono, monospace
}
#background, #footer {
  background-color: lavender;
  height: 93vh;
  width: 95vw;
  text-align: center;
  justify-content: center;
  /*border: 1px solid red;*/
  }
#background {
  display: flex;
  flex-direction: column;
}

#Month_year{
  font-size: xx-large;
  height: 8vh;
  align-items: center;
  
}
.weekday{
  width: 12.5vw;
  border: 1px solid black;
  
}
#date_boxes, #weekdays{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  
}
.Day, .current{
  border: 1px solid black;
  width: 12.5vw;
  height: 12.2vh;
  text-align: left;
  text-indent: 5px;
}
#footer{
  height: 5vh;
  font-size: xx-small;
  
}

.current{
  background-color: Thistle;
  font-weight: bolder;
}
